<nav>
    <div class="site-title">
      <a href="/"><h1>ja san najbolji</h1></a>
      <p>Manina mega ekstra stranica</p>
    </div>
    <ul>
      <li><a href="/">PoÄetna</a></li>
      <li><a href="/gallery">Galerija</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
</nav>