<nav class="navbar">
    <div class="navbar-img">
      <a href="/"><h1>ja san najbolji</h1></a>
    </div>
    <div class="navbar-links">
      <a href="/">PoÄetna</a></li>
      <a href="/gallery">Galerija</a>
      <a href="/contact">Kontakt</a>
    </div>
</nav>