<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="contact">
        <label for="inpt">Za više informacija pošaljite nam mail na...</label>
        <input type="text" name="inpt" id="inpt">
        <button type="submit">Pošalji</button>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>