<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="gallery">
        <div>
            <img src="https://www.metkovic.hr/wp-content/gallery/260724-skupna-izlozba-2/skupna-izlozba-33.jpg" alt="Image 1">
        </div>
        <div>
            <img src="https://www.metkovic.hr/wp-content/gallery/260724-skupna-izlozba-2/skupna-izlozba-33.jpg" alt="Image 2">
        </div>
        <div>
            <img src="https://www.metkovic.hr/wp-content/gallery/260724-skupna-izlozba-2/skupna-izlozba-33.jpg" alt="Image 3">
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>