<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container center">
    <h1>Moje ime najlipse</h>
    <%= ime %>
  </div>
  <div class="">
    <p>iz varijable <code>app.js:16</code></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>