.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.navbar a {
    color: rgb(27, 27, 27);
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-content: center;
    place-items: center;
}
.gallery div {
    border: 1px solid #ccc;
    padding: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}